.categories {
  padding: 20px;
  background-color: #BF05F2;
  position: relative; 
  margin-top: 20px; 
}

.categories h2 {
  text-align: center;
}

.category-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #415CF2;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button.active {
  background-color: #332859;
  color: white;
}

.category-button:hover {
  background-color: #3F1973;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
