.footer {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: black;
  color: rgb(134, 13, 177);
  position: relative; 
  margin-top: 20px; 
}

.footer .logo {
  font-size: 18px;
  font-weight: bold;
}
