.video-card {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    background-color: #17c763;
    text-align: center;
  }
  
  .video-card h3 {
    margin: 0 0 10px;
  }
  
  .video-card p {
    margin: 0 0 10px;
  }
  
  .video-card a {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .video-card a:hover {
    text-decoration: underline;
  }
  
  .video-card button {
    margin-right: 5px;
    background-color: #6907F2;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .video-card button:hover {
    background-color: #6907F2;
  }
  
  .video-card button:last-child {
    background-color: #332859;
  }
  
  .video-card button:last-child:hover {
    background-color: #332859;
  }