.video-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.video-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.video-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.video-actions button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #332859;
  color: white;
}

.video-actions button:hover {
  background-color: #415CF2;
}
